{% extends 'base.html' %} {% block head %}
<title>Grey Matter - Home</title>
{% endblock %} {% block body %}
<br />
<h1>HΦME</h1>
<br />
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome to Grey Matter!</h1>
      <p id="home-desc">
        Hey there mad scientist, I created this blog channel to interact with
        science geeks like you all. This is the place where everyone with their
        quirky scientific ideas, views, suggestions and facts show up to share
        them with the world. Moreover, this blog will help you too discuss
        various topics, that are both touched and untouched by the greatest of
        the scientists. This channel is absolutely open for everybody to come
        and discuss whatever the science they want!
        <br />
        <br />
        NOW, LETS GET YOUR NEURONS WARMED UP, SHALL WE? :)
      </p>

      <p>
        <a class="btn btn-primary" href="/posts" role="button">Step In!</a>
      </p>
    </div>
  </div>
  <h6>&copy;Created and maintained by Yogesh Pandey</h6>
</main>
{% endblock %}